.email-form {
	text-align: center;
	max-width: 50%;
	margin: auto;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
    border-radius: 0.15em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: rgba(255,255,255,0.75);
    margin-bottom: 4%;
    border: 1px solid black;
    padding: 2%;
    color: black;
    font: 95% Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background: #fff;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 5px black;
    border: 1px solid black;
    background: #fff;
}

input[type="submit"],
input[type="button"] {
    border-radius: 0.15em;
	margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 2%;
    border: none;
    font: 95% Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background: rgba(70, 3, 136, 0.9);
    color: white;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    background: rgba(40, 0, 100, 1);
}

@media screen and (max-width: 767px) {
    .email-form {
        text-align: center;
        max-width: 100%;
        margin: auto;
    }
}