.main-nav {
    position: fixed;
    padding-top: 0.5em;
    z-index: 10;
    background: transparent;
    background-size: cover;
}

.main-nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Special styles when overlaid on an image */
.main-nav.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    background: rgba(0, 0, 0, 0.8);
}

.no-cover .main-nav.overlay {
    background: none;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .main-nav {
        padding: 5px;
        margin-bottom: 2rem;
    }

    .main-nav.overlay a:hover {
        color: #fff;
        border-color: transparent;
        background: transparent;
    }

    .no-cover .main-nav.overlay {
        background: none;
    }
}
